/* --------------- FONTS ---------------- */
@font-face {
  font-family: "Open Sauce";
  font-style: normal;
  font-weight: normal;
  src:
    local("One Sauce One Light"),
    url("fonts/OpenSauce/OpenSauceOne-Light.woff") format("woff");
}

@font-face {
  font-family: Pecita;
  src:
    local("Pecita"),
    url("fonts/Pecita/Pecita.otf") format("opentype");
}

.alata-regular {
  font-family: Alata, serif;
  font-weight: 400;
  font-style: normal;
}

.ovo-regular {
  font-family: Ovo, serif;
  font-weight: 400;
  font-style: normal;
}

/* ---------------- VARIABLES -------------- */
:root {
  --fc-black-blue: #051a39;
  --fc-blue: #5699c1;
  --fc-rich-gold: #d39e5e;
  --divcolor-white-blue: #eff9fc;
  --fc-navy-blue: #5680a1;
  --fc-light-blue: #7abee0;
  --divcolor-navy-blue: #5680a1;
  --fc-light-brown: #c3b09b;
  --fc-white-blue: #eff9fc;
  --bsubmitc-dark-blue: #8abfd1;
  --wavec-dark-blue: #8abfd1;
  --footc-brown: #b19d87;
  --fc-foot-white-blue: #eff9fc;
  --fc-copyright-dark-blue: #3b4e5d;
  --fc-label-navy-blue: #5680a1;
}

/* TEXT SHADOWS */
:root {
  --shad-dark-blue: rgb(5 26 57 / 15%);
  --shad-gold: rgb(211 158 94 / 40%);
}

/* TYPEOGRAPHY */
:root {
  --fs-nav: 1.5rem;
  --fs-big-missionstatement: 3rem;
}

/* ------------------ FONT USE--------------------*/
li a,
#hero-discover,
h2,
legend,
h3 {
  font-family: Alata;
}

h1,
.main-paragraph-text,
.programs-text,
label,
input[type="submit"],
#copyright-text {
  font-family: Open Sauce;
}

#hero-mission-statement {
  font-family: Ovo;
  text-shadow: 3px 3px var(--shad-dark-blue);
}

#signature {
  font-family: Pecita;
  color: var(--fc-light-blue);
}

/* ----------------------- COLORS ---------------------- */
li a,
#hero-mission-statement {
  color: var(--fc-black-blue);
}

#hero-discover,
h2,
legend {
  color: var(--fc-rich-gold);
}

h2,
legend {
  text-shadow: 2px 2px var(--shad-gold);
}

.hero-content,
#discover,
#mission-statement,
#contact {
  background-color: var(--divcolor-white-blue);
}

h1 {
  color: var(--fc-blue);
}

.main-paragraph-text {
  color: var(--fc-navy-blue);
}

h3 {
  color: var(--fc-light-brown);
  text-shadow: 0 0 7px var(--fc-light-brown);
}

.programs-text {
  color: var(--fc-white-blue);
}

.program-types,
.triangle-down {
  background-color: var(--divcolor-navy-blue);
}

label {
  color: var(--fc-label-navy-blue);
}

input[type="submit"] {
  background-color: var(--bsubmitc-dark-blue);
}

#copyright-text {
  color: var(--fc-copyright-dark-blue);
}

footer {
  background-color: var(--footc-brown);
}

body {
  background-image: url("images/background-image.png");
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: auto;
  position: absolute;
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}

/* --------------- HEADER -------------------- */
#nav {
  display: flex;
  margin-bottom: auto;
}

nav {
  list-style-type: none;
  margin-top: 3.5%;
  margin-bottom: 10%;
  margin-left: 4%;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  font-size: var(--fs-nav);
  letter-spacing: 0.2rem;
}

li + li {
  margin-left: 7.375rem;
}

.hero {
  position: relative;
}

#hero-img {
  max-width: 40%;
  position: relative;
  left: 55%;
  z-index: 99999;
}

#hero-img img {
  width: 100%;
  height: auto;
  position: relative;
}

.hero-content {
  box-sizing: border-box;
  padding: 6%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%; /* Position at 50% from top */
  transform: translateY(-50%); /* Move up by half its height */
  width: 100%;
  left: 0;
  right: 0;
}

#hero-mission-statement {
  width: 55%;
  font-size: var(--fs-big-missionstatement);
  text-align: center;
  margin: 0;
  margin-bottom: 1.5rem;
}

#hero-discover {
  width: 57%;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  text-align: center;
  margin: 0;
}

h1 {
  width: 57%;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  text-align: center;
  margin-top: 0.3125rem;
  margin-bottom: 0;
}

/* ----------- DISCOVER SECTION --------------- */
.wave {
  aspect-ratio: 900/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateY(1px);
}

.top-wave {
  background-image: url("./layered-waves-haikei\ \(1\).svg");
}

.potential {
  background-image: url("waves/potential.svg");
}

#discover {
  width: 100%;
  min-height: 30rem;
  display: flex;
  position: relative;
}

#discover-content {
  width: 50%;
  margin-left: 5rem;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.main-paragraph-text {
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.main-paragraph-text:first-of-type {
  margin-top: 0.8rem;
}

#signature {
  font-size: 3rem;
  float: right;
  transform: translateY(-4rem);
}

#img-scribbles {
  max-width: 35%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: 5rem;
}

#img-scribbles img {
  width: 100%;
  align-self: center;
}

/* ------------- MISSION STATEMENT SECTION ------------ */
#mission-statement {
  width: 100%;
  padding-bottom: 2rem;
  margin-top: -6rem;
  transform: translateY(-1px);
}

#mission-statement-content {
  text-align: right;
  margin-right: 6rem;
  padding-top: 2.8rem;
  width: 88%;
  margin-left: auto;
}

/* -------------- OUR PROGRAMS ----------------- */
#programs {
  display: flex;
  flex-direction: row;
}

#our-programs {
  min-width: 8rem;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-right: 3rem;
}

#main-programs {
  display: flex;
  max-width: 60%;
  height: fit-content;
  margin-left: auto;
  margin-right: 3rem;
}

.program-types {
  min-width: 13rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.program-types + .program-types {
  margin-left: 2rem;
}

h3 {
  width: 90%;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  margin-top: 5rem;
  margin-bottom: 0.8rem;
}

.programs-text {
  width: 75%;
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-align: center;
  margin-top: 0;
}

#img-programs {
  margin-left: -3rem;
}

#img-programs img {
  width: 100%;
}

.triangle-down {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10rem;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  transform: translateY(-1px);
  z-index: 99999;
}

/* Contact Us */
.contact-wave {
  background-image: url("waves/2.svg");
  margin-top: -10%;
}

#contact {
  min-height: 23rem;
}

fieldset {
  margin-right: 3rem;
  padding: 1rem;
  border: none;
  float: right;
  position: relative;
}

legend {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
}

#contact-sides {
  display: flex;
  flex-direction: row;
  transform: translateX(-5%);
}

#contact-left-side {
  margin-right: 5%;
}

label {
  font-size: 1.2rem;
}

input {
  padding: 0.5rem;
  border: 1px solid black;
  width: 20rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

textarea {
  padding: 0.5rem;
  border: 1px solid black;
  min-width: 20rem;
  max-width: 20rem;
  min-height: 3.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

input[type="submit"] {
  width: 10rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  border: none;
  float: right;
}

/* ------------ Footer ----------------- */
footer {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p:first-of-type {
  font-size: 1.2rem;
}

#copyright-text {
  margin-top: 0;
}

@media screen and (min-width: 70em) {
  :root {
    --fs-nav: 1.8rem;
    --fs-big-missionstatement: 4rem;
  }

  nav {
    margin-bottom: 4%;
  }
}

@media screen and (max-width: 40em) {
  :root {
  }
}
